    <div class="card">
      <img src="{{ product.image }}" alt="{{ product.name }}">
      <div class="card-content">
        <div>
          <div class="brand">{{ product.brand }}</div>
          <div class="title">{{ product.name }}</div>
          <div class="price">S/{{ product.price }}</div>
        </div>
        <!-- <a [routerLink]="['/product', product.id]" class="btn">Ver producto</a> -->
        <a href="/product/{{ product.id }}" class="btn">Ver producto</a>
      </div>
    </div>

<!-- <section><h2>Productos Similares</h2></section>

<div class="grid">
    <div class="card">
      <img src="images/products/colchones/MD008017-1.jpg" alt="Cojín Beige">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cojín Acolchado Beige para perros</div>
          <div class="price">S/89.90 - S/159.90</div>
        </div>
        <a href="/product/MD008017" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/colchones/MD007851-1.jpg" alt="Matt Negro">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Matt Negro para perros</div>
          <div class="price">S/59.90 - S/119.90</div>
        </div>
        <a href="/product/MD007851" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/colchones/MD008003-1.jpg" alt="Cojín Blanco con Erizos">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cojín Acolchado Blanco con Erizos para perros</div>
          <div class="price">S/99.90 - S/139.90</div>
        </div>
        <a href="/product/MD008003" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/colchones/colchoneta0.jpg" alt="Otro Producto">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cama Deluxe para perros</div>
          <div class="price">S/129.90 - S/189.90</div>
        </div>
        <a href="/product/colchoneta0" class="btn">Ver producto</a>
      </div>
    </div>
  </div> -->