<!-- <div class="container">
    <header>
    <div class="logo">LOGO</div>
    <div class="search-bar">
      <input type="text" placeholder="Search...">
    </div>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Shop</a>
      <a href="#">Help</a>
    </nav>
    <div class="cart">Your Cart</div>
  </header> -->

  <div class="product-detail">
    <div class="product-images">
      <div class="main-img"><img src="{{ product.image }}" alt="{{ product.name }}"></div>
      <!-- <div class="thumbs">
        <div></div><div></div><div></div>
      </div> -->
    </div>
    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <div class="rating">★★★★☆ (64 reviews)</div>
      <div class="price">S/{{ product.price }}</div>
      <span>Cantidad: </span>
      <select [(ngModel)]="selectQty">
        <!-- <option>Cantidad:</option> -->
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select><br>
      <a href="/cart" id="btnaddcart" (click)="addToCart(selectQty)">Añadir al carro</a>
      <p>{{ product.description }}</p>
    </div>
  </div>

  <!-- <section>
    <h2>Similar Products</h2>
    <div class="grid">
      <div class="card">
        <div class="thumb">Image</div>
        <p>PRODUCT NAME</p>
        <div class="rating">★★★★☆</div>
        <div class="price">$200</div>
      </div>
      <div class="card">
        <div class="thumb">Image</div>
        <p>PRODUCT NAME</p>
        <div class="rating">★★★★☆</div>
        <div class="price">$200</div>
      </div>
      <div class="card">
        <div class="thumb">Image</div>
        <p>PRODUCT NAME</p>
        <div class="rating">★★★★☆</div>
        <div class="price">$200</div>
      </div>
    </div>
  </section> -->
  <hr><br>
  <h2>Productos Similares</h2><br><br>
  <div class="grid">
    <app-product-similar *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 4, currentPage: p }"
      [product]="product"></app-product-similar>
  </div>

  <section class="section-pagination">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</section>

  <!-- <section class="reviews">
    <h2>Reviews</h2>
    <div class="review">
      <div class="avatar"></div>
      <div class="review-content">
        <h4>John Doe <small>- Aug 26, 2024</small></h4>
        <div class="rating">★★★★☆</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod
        tempor lacus, a cursus nisl cursus ac.</p>
      </div>
    </div>
    <div class="review">
      <div class="avatar"></div>
      <div class="review-content">
        <h4>Jane Doe <small>- Aug 20, 2024</small></h4>
        <div class="rating">★★★☆☆</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod
        tempor lacus, a cursus nisl cursus ac.</p>
      </div>
    </div>
  </section> -->
<!-- 
  <footer>
    <div>
      <p>1712 Harrison St, San Francisco, CA 94103, USA</p>
      <p>© Your Company Name</p>
    </div>
    <div>
      <h4>Main Menu</h4>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
    <div>
      <h4>Company</h4>
      <ul>
        <li><a href="#">The Company</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Press</a></li>
      </ul>
    </div>
    <div>
      <h4>Discover</h4>
      <ul>
        <li><a href="#">The Team</a></li>
        <li><a href="#">Our History</a></li>
      </ul>
    </div>
    <div>
      <h4>Find us on</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
  </footer>
</div> -->