<!-- <section><h2>Productos</h2></section> -->

<div class="grid">
    <div class="card">
      <img src="images/products/products_recommend/product_recommend1.jpg" alt="Cojín Beige">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cojín Acolchado Beige para perros</div>
          <div class="price">S/89.90 - S/159.90</div>
        </div>
        <a href="/product/product_recommend1" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/products_recommend/product_recommend2.jpg" alt="Matt Negro">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Matt Negro para perros</div>
          <div class="price">S/59.90 - S/119.90</div>
        </div>
        <a href="/product/product_recommend2" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/products_recommend/product_recommend3.jpg" alt="Cojín Blanco con Erizos">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cojín Acolchado Blanco con Erizos para perros</div>
          <div class="price">S/99.90 - S/139.90</div>
        </div>
        <a href="/product/product_recommend3" class="btn">Ver producto</a>
      </div>
    </div>

    <div class="card">
      <img src="images/products/products_recommend/product_recommend4.jpg" alt="Otro Producto">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cama Deluxe para perros</div>
          <div class="price">S/129.90 - S/189.90</div>
        </div>
        <a href="/product/product_recommend4" class="btn">Ver producto</a>
      </div>
    </div>
    <div class="card">
      <img src="images/products/products_recommend/product_recommend4.jpg" alt="Otro Producto">
      <div class="card-content">
        <div>
          <div class="brand">Leeby</div>
          <div class="title">Leeby Cama Deluxe para perros</div>
          <div class="price">S/129.90 - S/189.90</div>
        </div>
        <a href="/product/product_recommend4" class="btn">Ver producto</a>
      </div>
    </div>
  </div>