<br>
<section class="about-section">
  <h2>ACERCA DE NOSOTROS</h2>
  <hr class="section-divider">

  <p class="about-text">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
    dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    
  </p>

  <div class="about-content">
    <div class="address-box">
      <div class="icon-circle"><img src="images/help/puntos_help.jpg" alt="" style="width: 100%;"></div>
      <p><strong>Oficina Central:</strong><br>
        Jockey Plaza<br>
        Javier Prado 0001
      </p>
    </div>

    <div class="map-box">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7497.988907195601!2d-76.9798517337598!3d-12.08525301970236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c79f5dacafbf%3A0x2aecf92fd4325f0d!2sJockey%20Plaza!5e1!3m2!1ses!2spe!4v1757812554882!5m2!1ses!2spe"
              width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</section>

<section class="benefits-section">
  <h2>BENEFICIOS</h2>
  <hr class="section-divider">

  <div class="benefits-list">
    <ul>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
    </ul>
    <ul>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
      <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry</li>
    </ul>
  </div>
</section>
